<h3>More info ...</h3>
<h3>{{model.answerContent}}</h3>
<h3>{{model.author}}</h3>

<hr>
{{update-answer answer=model update='update'}}
<hr>
{{answer-detail answer=model destroyAnswer='destroyAnswer'}}
