<div class="container">
  <h1>QUESTIONS</h1>
  <ul>
    {{#each model.questions as |question|}}
    <li>{{#link-to 'question' question.id}}{{question.content}}{{/link-to}} by {{question.author}}</li>
    {{/each}}
  </ul>
  {{new-question saveQuestion='saveQuestion'}}

  <h3>All answers</h3>
  <ul>
    {{#each model.answers as |answer|}}
      {{answer-tile answer=answer}}
    {{/each}}
  </ul>
</div>
